.pagination {
  display: flex;

  li {
    margin: 0 10px;
    border-radius: 15px;
    cursor: pointer;

    a {
      color: #fe5f1e;
      padding: 5px 15px;
    }
  }

  :global {
    .selected {
      background-color: #fe5f1e;

      a {
        color: #fff;
      }
    }
  }
}